In [1]:
import os
import pandas as pd

In [ ]:
df = pd.read_csv('data/videos_featured.csv', sep=';')

In [6]:
df.head()

,video_id,title,published_at,views,likes,comments,duration_seconds,tags_array,published_us_est,published_year,published_month,published_quarter,published_weekday,published_hour,like_ratio,comment_ratio,publish_time_of_day
0,DlEkWd-8VXA,250k Subscriber Live Stream!!,2022-07-26 13:19:48,4168,156,11,4539,"{""Alex The Analyst"",""Live Stream"",""250k subscr...",2022-07-26 09:19:48,2022,7,Q3,Tuesday,9,0.0374,0.0026,Morning
1,xb5-UX-jYw0,How to Lie with Data | Averages,2025-04-08 12:01:32,4150,216,14,407,"{""Data Analyst"",""Data Analyst job"",""Data Analy...",2025-04-08 08:01:32,2025,4,Q2,Tuesday,8,0.0520,0.0034,Morning
2,V3ouFOBQP0k,How to Lie with Data | Percentages and Baselin...,2025-04-01 12:00:46,4361,216,9,318,"{""Data Analyst"",""Data Analyst job"",""Data Analy...",2025-04-01 08:00:46,2025,4,Q2,Tuesday,8,0.0495,0.0021,Morning
3,oi9W142ELN0,1 Million YouTube Play Button Unboxing!,2025-03-25 12:01:10,3073,236,79,460,"{""Data Analyst"",""Data Analyst job"",""Data Analy...",2025-03-25 08:01:10,2025,3,Q1,Tuesday,8,0.0768,0.0257,Morning
4,5n52mlp9Ym0,Maven Analytics + Analyst Builder Lifetime Acc...,2025-03-24 12:00:07,8613,254,41,315,"{""Data Analyst"",""Data Analyst job"",""Data Analy...",2025-03-24 08:00:07,2025,3,Q1,Monday,8,0.0295,0.0048,Morning